{% extends 'base.html.twig' %}

{% block title %}Add new Todo{% endblock %}

{% block body %}

<h2> Hello dear friend!</h2>
    <h4>You can register with sidebar!<br><br></h4>
    <p>
        Lorem Ipsum is a fish text often used in print and web design. Lorem Ipsum has been the standard "fish" for Latin texts since the early 16th century. At the time, an unnamed printer created a large collection of font sizes and shapes using Lorem Ipsum to print samples.
        Lorem Ipsum not only successfully survived five centuries without noticeable changes, but also stepped into electronic design.
        Its popularization in modern times was the publication of Letraset sheets with Lorem Ipsum samples in the 60s and, more recently, electronic typesetting programs such as Aldus PageMaker, which use Lorem Ipsum templates.
    </p>

{% endblock %}
