.page-item.active .page-link {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.page-link {
    color: #198754;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.navbar-light .navbar-brand {
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: aliceblue;
}

.navbar-brand {
    font-size: 1.50rem;
}

a {
    color: #198754;
}

.form-control {
    color: #212529;
    background-color: #ced4da;
    border: 1px solid #ced4da;
}

.card-header {
    background-color: #ced4da;
}
