{% extends 'base.html.twig' %}

{% block title %}Add new Todo{% endblock %}

{% block body %}

    <div class="card">
        <h5 class="card-header">Add new todo</h5>
        <div class="card-body">
            <form class="row g-3" method="POST">
                <div class="col-md-6">
                    <label for="inputText" class="form-label">Text</label>
                    <textarea class="form-control" id="inputText" name="text"></textarea>
                </div>
                <div class="col-md-4">
                    <label for="inputChecklist" class="form-label">Checklist</label>
                    <select id="inputChecklist" class="form-select" name="checklist_id">

                        {% for checklist in checklists %}
                            <option value="{{ checklist.id }}">{{ checklist.title }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Add!</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
