{% extends 'base.html.twig' %}

{% block title %}List All todos{% endblock %}

{% block body %}
            <h4>
                <a href="{{ path('checklist_get', {'checklistId': todo.checklist_id, 'todoId': todo.id}) }}">
                </a>
            </h4>
            <p>{{ todo.text }}</p>

{% endblock %}

