{% extends 'base.html.twig' %}

{% block title %}List All todos {% endblock %}

{% block body %}
    <ul>
    {% for todo in todos %}
        <li>
            <h4>
            </h4>
            <p>{{ todo.id }} {{ todo.text }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
