{% extends 'base.html.twig' %}

{% block title %}List All todos{% endblock %}

{% block body %}
    <ul>
    {% for todo in todos %}
        <li>
            <h4>
                <a href="{{ path('checklist_get', {'checklistId': todo.checklist_id, 'todoId': todo.id}) }}">
                    {{ todo.title }}
                </a>
            </h4>
            <p>{{ todo.text }}</p>

        </li>
    {% endfor %}
    </ul>
{% endblock %}

