{% extends 'base.html.twig' %}

{% block title %}List All Todos {% endblock %}

{% block body %}
    <ul>
    {% for todo in todos %}
        <li>
            <h4>
               <a href="{{ path('checklist_get', {'checklistId': todo.checklist_id, 'todoId': todo.id}) }}">

               </a>
            </h4>
            <p>{{ todo.id }} {{ todo.text }}</p>

        </li>
    {% endfor %}
    </ul>
{% endblock %}

